<div class="container-fluid">
  <div class="row">
    <div class="col-md-3" style="background-color: rgba(95,179,239,0.53); justify-content: space-between; height: 700px">
      <div class="form-custom">
        <mat-card class="mt-3">
          <h3>Create a new Task</h3>
          <form [formGroup]="todoForm">
            <mat-form-field appearance="fill">
              <mat-label>Enter Task Name Here</mat-label>
              <input matInput placeholder="">
            </mat-form-field>
            <mat-form-field appearance="fill" [color]="priorityControl.value">
              <mat-label>Priority</mat-label>
              <mat-select [formControl]="priorityControl">
                <mat-option value="urgent">Urgent</mat-option>
                <mat-option value="important">Important</mat-option>
                <mat-option value="normal">Normal</mat-option>
                <mat-option value="low">Low</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" >
              <mat-label>Description</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
            <mat-form-field class="example-chip-list" appearance="fill">
              <mat-label>Add Tags</mat-label>
              <mat-chip-list #chipList aria-label="Tags selection">
                <mat-chip *ngFor="let tag of tags" (removed)="remove(tag)">
                  {{tag.name}}
                  <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
                <input placeholder="New tag..."
                       [matChipInputFor]="chipList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="addOnBlur"
                       (matChipInputTokenEnd)="add($event)"
                       />
              </mat-chip-list>
            </mat-form-field>
            <input type="color" id="favcolor" name="favcolor"
                   value="#e66465" style="width: 100%; border: 2px solid darkgray"><br><br>
            <button mat-raised-button [disabled]="todoForm.invalid" color="primary">Add</button>
          </form>
        </mat-card>
      </div>
    </div>
    <div class="col-md-9">
      <div *ngFor="let board of boards">
        <app-board [boardTodos]="board"></app-board>
      </div>
    </div>
  </div>
</div>
