.board {
  display: flex;
  flex-direction:row ;
  width: auto;
  min-height: 100px;
  height: fit-content;
  background-color: aliceblue;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.16);
  justify-content: space-between;
}

.title-task {
  align-content: center;
  text-align: center;
  margin: 10px 10px;
  height: 34px;
  background-color: darkcyan;
  justify-content: center;
  font-size: larger;
  width: 260px;
  color: white;
  padding-top: 4px;
  font-weight: 400;
}

.example-box {
  width: 260px;
  height: fit-content;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  min-height: 150px;
}

.color-box {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 30px;
  position: inherit;
  margin-left: 0;
  width: 260px;
}

.body-cont {
  padding-top: 10px;
  margin: 10px;
  overflow-wrap: break-word;
}

.body-cont h2 {
  font-weight: 500;
}

.tag {
  margin: 5px;
}

:host .mat-chip {
  margin: 2px;
}
